/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ******** reset css end ********* */


/* *********** general css start *********** */
html{
    margin: 0;
}

body {
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #444;
    text-rendering: optimizeLegibility;
    background-color: #e9ebee;
}

code, kbd, tt, var {
    font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

a:link, a:visited {
    color: #3a8bbb;
    text-decoration: none;
}

a:active {
    outline: none;
}

.clear {clear: both;}

.background-white {
    background-color: #fff;
}

.no-padding-left{padding-left: 0;}
.no-padding-right{padding-right: 0;}

/* ******************* general css ends *********** */

/*-----------------*/
/* --- Navbar CSS ---*/
/* ------------------- */

.navbar-default {
    background-color: #2f2f2f;
    border-color: #2f2f2f;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #999999;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #999999;
}
.navbar-default .navbar-nav > li > a {
    color: #999999;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #2f2f2f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #999999;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #2f2f2f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #2f2f2f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2f2f2f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2f2f2f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2f2f2f;
}
.navbar-default .navbar-toggle {
    border-color: #2f2f2f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2f2f2f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #999999;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #999999;
}
.navbar-default .navbar-link {
    color: #999999;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #999999;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #2f2f2f;
    }
}

/* *********** navbar ends ********* */

/* ******** portfolio start ************* */

.profile-info-wrap {
    margin-top: 30px;
}

.floating-sidebar {
    position: relative;
    /*float: left;*/
    /*width: 325px;*/
    margin: 0 0 30px 15px;
}

.profile-info, .project-info {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.profile-info-mod {
    padding: 20px 30px;
    border-top: 1px solid #eee;
}

.profile-info-mod.profile-essentials {
    border-top: none;
}

.profile-info-mod h2.my-vcard {
    margin: 0 0 10px 0;
    text-align: center;
    line-height: normal;
}

.profile-info-mod h2.my-vcard .url {
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.02em;
    color: #444;
}

.profile-info-mod h2.my-vcard .url:hover {
    text-decoration: none;
}

.profile-info-mod h2.my-vcard .photo {
    display: block;
    width: 80px;
    margin: 0 auto 5px auto;
    border-radius: 50%;
}

.profile-info-mod .location a, .profile-info-mod .project-owner a {
    font-weight: normal;
    color: #999;
}

.profile-info-mod .location a:hover {
    text-decoration: none;
    color: #444;
}

.profile-info-mod .bio, .profile-info-mod .project-desc {
    margin: 0 0 15px 0;
    line-height: 1.4;
    text-align: center;
    word-wrap: break-word;
}

.profile-info-mod h3 {
    margin: 0 0 10px 0;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #999;
}

.profile-info-mod .skills {
    font-size: 12px;
    line-height: 1;
    color: #bbb;
}

.profile-info-mod .skills a {
    display: inline-block;
    margin: 0 4px 8px 0;
    padding: 6px 8px;
    border: 1px solid #ddd;
    color: #444;
    border-radius: 4px;
}

.profile-info-mod ul.profile-details li {
    margin: 5px 0;
    font-size: 14px;
    line-height: 20px;
}

.profile-info-mod ul.profile-details li a {
    display: block;
    color: #444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-info-mod ul.profile-details li a img {
    position: relative;
    top: 4px;
    margin: 0 5px 0 0;
    height: 20px;
    opacity: .37;
}

/* ********************* */

.portfolio-item-wrap {
    margin-top: 30px;
}

.portfolio-item {
    position: relative;
    clear: left;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.portfolio-item-inner {
    padding: 10px;
}

.portfolio-item-image{
    max-width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
}

.portfolio-item-over {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 13px;
    line-height: 2;
    text-decoration: none;
    color: #888;
    background: #fff;
    background: rgba(255,255,255,0.96);
    overflow: hidden;
    box-sizing: border-box;
}

.portfolio-item-image:hover .portfolio-item-over{
    opacity: 1;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -ms-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}

.portfolio-item-over strong{
    display: block;
    margin: 0 25px 4px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.portfolio-item-over span{
    display: block;
    margin: 0 0 10px 0;
    font-size: 11px;
    line-height: 1.4;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-item-over em{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0 0 3px 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #777;
}

ul.tools {
    margin: 10px 0 0 0;
    text-align: left;
    padding-bottom: 10px;
}

ul.tools li {
    float: right;
    width: auto;
    margin: 0 0 0 12px;
    display: inline;
    font-size: 11px;
    line-height: 1;
    color: #aaa;
}

ul.tools li a:hover {
    color: #777;
}

ul.tools li a {
    text-decoration: none;
    color: #aaa;
}

ul.tools li.fav a:first-child, ul.tools li.fav span {
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/icon-hearts.png);
}

ul.tools li.cmnt span {
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/icon-comments.png);
}

ul.tools li.views span {
    margin-left: 0;
    border-left: none;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/icon-views-sm.png);
}

/* *************** blog start *************** */

.blog-bio p{
    font-weight: normal;
    color: #999;
}

.recent-posts ul li{
    line-height: 1.8;
}

.recent-posts ul li a{
    color: #404040;
    text-decoration: none;
}

.recent-posts ul li a:hover{
    color: #666;
    text-decoration: none;
}

.posts-wrap {
    clear: left;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    padding: 10px 30px 30px 30px;
}

.posts-wrap h1.blog-title{
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.posts-wrap ul.blog-posts li:not(:first-child) {
    margin-top: 40px;
}

.posts-wrap ul.blog-posts li h1{
    margin-bottom: 15px;
    font-size: 22px;
}

.posts-wrap ul.blog-posts li h1 a{
    color: #404040;
    text-decoration: none;
}

.posts-wrap ul.blog-posts li h1 a:hover{
    color: rgba(71, 71, 71, 0.83);
    text-decoration: none;
}

.posts-wrap ul.blog-posts li .post-meta{
    margin-top: 10px;
}

.posts-wrap ul.blog-posts li .post-meta span{
    color: #999;
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
}

.posts-wrap ul.blog-posts li .post-meta span a{
    color: #999;
    font-size: 12px;
    text-decoration: underline;
    margin-left: 2px;
}

.posts-wrap ul.blog-posts li .post-meta span a:hover{
    color: #999;
    text-decoration: underline;
}

.single-post {
    margin-top: 15px;
}

/* ********* blog ends ************ */

/****************
advanced comment styles
****************/

.comments-title{margin: 15px 0px 20px 0px;}
.comments-title h2{font-size: 20px;}
.comments-title h2 span{font-size: 15px;}
.comments-count{font-size: 12px;color: #999;}
.comment-author-name a{text-decoration: none; font-weight: bold;color: #367389;}
.comment-author-name a:hover{text-decoration: none;color: #367389;}
h3#comments,.comment-navigation,.comment-navigation:after,#respond:after,.comment-rss{display:block}
ol.commentlist{width:100%}
/*h3#comments,#respond h3{height:25px;text-align:left;background:#4c7faa;color:#fff;padding:5px 0 0 5px}*/
ol.commentlist,li.authorcomment,li.comment,#respond h3,form#commentform,input#submit{margin:0}
ol.commentlist,ol.commentlist ul,form#commentform{padding:0}
ol.commentlist{border-bottom:1px solid #ccc}
ol.commentlist ul{margin:0 0 0 60px}
/* li.authorcomment,li.comment,form#commentform textarea,form#commentform input{border:1px solid #ccc} */
li.authorcomment,li.comment{padding:10px 0 0 10px;list-style:none;border-bottom:none}
/*
li.even{background:#fff}
li.odd{background:#f5f4f4}
*/
ul.children li.even{background:#fff}
ul.children li.odd{background:#f5f4f4}
.single-comment{margin: 15px 0px 15px 0px;}

.authorcomment{background:#deebf9}
ul.children ul{margin-left:20px}
ul.children li{border-right:none}
.vcard img{float:left;background:#c4c4c4}
.vcard img,.comment-navigation .newer a,.comment-navigation .older a{padding:5px}
.comment-meta,ol.commentlist li small,p.subscribe-to-comments label{position:relative}
/* .comment-meta,ol.commentlist li small{top:10px;left:10px} */
.comment-text{margin:0 10px 0 0}

.reply,.comment-navigation .newer,input#submit{float:right}
.reply{margin: 0px 15px 20px 0px;}
.reply a{margin-left: 5px;width: 70px;display: inline-block;text-align: left;color: #848484;}
.reply i{color: #999;}
/*
.reply,.comment-navigation .newer,input#submit{float:right}
.reply,.comment-navigation .newer a,.comment-navigation .older a,input#submit{background:#2f2f2f}
.reply{margin:0 10px 10px 0}
a.comment-reply-link,.reply a:link,
.comment-navigation .newer a,.comment-navigation .older a,input#submit{display:inline-block;text-align:center;cursor:pointer;color:#fff}
a.comment-reply-link,.reply a:link{padding:5px 0} a.comment-reply-link,.reply a:link,input#submit{width:70px}
a.comment-reply-link:hover,.reply a:hover,.comment-navigation .newer a:hover,
.comment-navigation .older a:hover,input#submit:hover{background:#e7e7e7;text-decoration:none;color:#4c7faa;font-weight:bold}
a.comment-reply-link:hover,.reply a:hover,input#submit:hover{width:68px}
a.comment-reply-link:hover,.reply a:hover{padding:4px 0}

a.comment-reply-link:hover,.reply a:hover,.comment-navigation .newer a:hover,.comment-navigation .older a:hover{border:1px solid #4c7faa}
.comment-navigation{margin:10px 0 10px 0} .comment-navigation:after,#respond:after{content:".";height:0;visibility:hidden}
*/

.clear{clear:both}
.comment-navigation .newer a:hover,.comment-navigation .older a:hover{padding:4px}
form#commentform textarea,form#commentform input{padding:2px 3px}
form#commentform textarea{width:442px}
input#submit{
    width: 80px;
    background-color: #367389;
    border: 0;
    color: #fff;
    border-radius: 5px;
}
input#submit,p.subscribe-to-comments input{outline:0}
input#submit:hover{background-color: #367389;}
p.subscribe-to-comments{background:url('images/email_32.png') no-repeat}
p.subscribe-to-comments,.comment-rss{height:32px;text-indent:42px;padding:5px 0 0 0}
p.subscribe-to-comments input{margin:5px 3px 3px 3px !important;border:0}
p.subscribe-to-comments label{top:-2px;color:#666}
.comment-rss{background:url('images/rss_32.png') no-repeat}

/*comment total stlying*/

.comment-total{text-align: center;font-size: 1.5em;color: #fff;}
.comment-total span{font-size: 2em;color: #800000;}

.allowed-tags{
    background-color: #ececec;
    padding: 10px;
}
.allowed-tags span{
    font-size: 13px;
}